<app-cv />
<!-- <app-color [defaultColor]="'lightblue'" /> -->
<!-- <app-cv/> -->
<!--
<ol>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
</ol> -->

<!-- <app-somme/>
<app-somme [param1]="15"/>
<app-somme [param2]="15"/>
<app-somme [param1]="10" [param2]="15"/> -->
<!-- <div class="alert alert-primary">
  Bonjour SFR <i class="bi bi-emoji-smile-upside-down"></i>
</div>
<div class="alert alert-warning">
  <app-first/>
  <app-first/>
  <app-first/>
</div>
<p>test color</p>
<div class="alert alert-danger">
  <app-second/>
</div> -->
